//Fonts
$font-primary: "DM Sans", sans-serif;

//Responsive design breakpoints
$breakpoint-mobile: 766px;
$breakpoint-tablet-min: 767px;
$breakpoint-tablet-max: 1023px;
$breakpoint-desktop: 1024px;

//Corporate colours
$colour-background-primary: #901C1C;
$colour-font-primary: #D3573C;
$colour-background-secondary: #D3573C;
$colour-font-secondary: #901C1C;
$colour-font-light: #525252;
$colour-background-light: #FAFAFA;

//Supplementary colours
$colour-lightbox-gray: rgb(183, 183, 183);
$colour-default-dark: black;
$colour-default-light: white;