.photographer_profile {
  background-color: #FAFAFA;
  border-radius: 5px;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &-text {
    h1 {
      color: $colour-font-primary;
      font-size: 40px;
    }
  }

  &-image {
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      border: 1px solid #ddd;
      padding: 5px;
      object-fit: cover;
      background-color: $colour-background-light;
      transition: 500ms;

      &:hover {
        box-shadow: 0 0 2px 1px $colour-background-primary;
        //transform: scale(1.05);
      }
    }
  }
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $colour-background-primary;
  border-radius: 5px;
  cursor: pointer;
  //transition: 500ms;

  &:hover {
    color: black;
    background-color: $colour-background-secondary;
    //transform: scale(1.05);
  }
}


@media only screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
  .photographer_profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &-image {
      order: 2;
    }

    &-text {
      order: 1;
    }

    &-button {
      order: 3;
      flex: 0 0 100%;
      text-align: center;
      margin-top: 50px;
    }
  }


}

@media only screen and (max-width: $breakpoint-mobile) {
  .photographer_profile {
    flex-direction: column;

    &-image {
      order: 1;
    }

    &-text {
      order: 2;

      & h1, p {
        text-align: center;
      }
    }

    &-button {
      margin-top: 50px;
      order: 3;
    }
  }
}
