.photographer_tab {
  background-color: $colour-background-secondary;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 300px;
  position: fixed;
  bottom: 0;
  right: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;

  h3, span {
    font-size: x-large;
    font-weight: bolder;
    background-color: $colour-background-secondary;
  }

  i {
    margin-left: 10px;
    font-size: x-large;
  }
}