header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logo {
  height: 50px;
  //margin-left: 100px;
}

@media only screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
  header {
    justify-content: space-around;
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  header {
    flex-direction: column;
    margin-top: 15px;
  }
}
