.sort_selector {
  margin-top: 50px;

  & label {
    font-size: larger;
    font-weight: 600;
    margin-right: 10px;
  }

  & select {
    font-size: larger;
    width: 200px;
    height: 50px;
    background-color: $colour-background-primary;
    color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 500ms;

    &:hover {
      //transform: scale(1.05);
      color: black;
      background-color: $colour-background-secondary;

    }

    &:focus {
      outline: 0;
    }
  }
}
